* {
  margin: 0;
  padding: 0;
}

.fundo {
  background-image: linear-gradient(45deg, black, purple);
  height: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.calculadora {
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 15px;
  padding: 15px;
}

#resultado {
  width: 211px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  background-color: white;
  color: black;
  text-align: right;
  padding: 5px;
}

.botao {
  height: 50px;
  width: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
}

.botao1 {
  height: 106px;
  width: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
}

.botao2 {
  height: 50px;
  width: 106px;
  font-size: 25px;
  cursor: pointer;
  margin: 3;
  background-color: rgb(31, 31, 31);
  border: none;
  color: white;
}

.botao:hover {
  background-color: black;
}
